{% extends 'main/mainpattern.html' %}
{% load static %}

{% block title %}
Hello
{% endblock %}

{% block csslinks %}
<link rel="stylesheet" href="{% static 'main/css/top_pannel_elements.css' %}">
{% endblock %}

{% block content %}
<!-- главная площадь -->
<div class="main_border_window">
    <!-- панель сверху -->
    <div class="top_pannel">
        <span class="center_for_strings">Добро пожаловать</span>
        <div class="button_help_div button_help">
            <a class="center_question" href="http://127.0.0.1:8000/help">
                <i class="fa-solid fa-question"></i>
            </a>
        </div>

    </div>
    <!-- Главный контейнер для панелей     -->
    <div class="left_pannel_container">
        <div class="left_pannel">
            <!-- Инпут зона -->
            <div></div>
            <!-- Главная зона -->
            <div></div>
            <!-- Поискавая зона -->
            <div></div>
            <!-- Набор с элементами -->
            <div></div>            
        </div>
        <!-- Середина с кнопкой -->
        <div class="middle_pannel"></div>
        <!-- Правая рабочая зона -->
        <div class="right_pannel_container">
            <!-- Верхняя половина -->
            <div>
                <!-- Инпут зона -->
                <div></div>
                <!-- Зона для окон -->
                <div>
                    <!-- ингр зона -->
                    <div></div>
                    <!-- рес прок зона -->
                    <div></div>
                    <!-- Доп ингр зона -->
                    <div></div>
                    <!-- Саммари -->
                    <div></div>
                </div>
            </div>        
            <!-- Нижняя для пресетов -->
            <div></div>        
        </div>
    </div>
</div>

{% endblock %}